.hero{
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
        url(../images/Imghero.jpg);
}
.hero__title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-color);
}

.hero__after-title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 696px;
    padding-bottom: 30px;
}