.regular-customers{
    padding-top: 94px;
    padding-bottom: 94px;
    }

.clients-list{
    display: flex;
    justify-content: center;
}
.clients-list__item:not(:last-child){
    margin-right: 30px;
}
.clients-after-items {
    width: 170px;
    height: 92px;
    color: #AFB1B8;
}

.clients-list__link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }

    &:hover .clients-list__icon,
    &:focus .clients-list__icon {
        fill: var(--accent-color);
    } 
}

.clients-list__icon{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-color);
    } 
}
