.section-two {
    padding-top: 94px;
}

.section-two__list {
    display: flex;
    height: 251px;
}

.section-two__item {
    width: 270px;
    height: 101px;
}

.section-two__item:not(:last-child) {
    margin-right: 30px;
}

.section-icons__logotype{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.section-icons__logotype--name {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.section-icons__logotype--item {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-top: 10px;
}

.section-icons {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    display: block;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}