.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--header-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        background-color: #063253c2;
}
}
.hero__btn{
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
}

.modal__close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.modal__form-btn {
	display: block;
    margin-left: 117px;
    margin-top: 30px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--header-color);
	background-color: var(--accent-color);
	border-radius: 4px;
	width: 200px;
	height: 50px;
	border: 1px, var(--accent-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188ce8;
}
}

