.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    padding: 40px;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__title{
    font-weight: 700;
    line-height: 1.13;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

.modal__input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 35px;
    padding-top: 11px;
    padding-bottom: 11px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal__text{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    
    &::placeholder{
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
    }
}

.input-wrap{
    position: relative;
}

.modal__label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    display: block;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal__field{
    margin-bottom: 30px;

}

.input-icon{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-75%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill: #2196f3;
    } 
}

.modal__input:focus + .input-icon{
    fill: #2196f3;
}

.check-text{
    padding-left: 12px;
    font-size: 14px;
    color: #757575;
    display: flex;
    align-items: center;
}

.check-text span{
    width: 15px;
    height: 15px;
    border: 2px solid #212121;
    background-color: transparent;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.modal-check:checked + .check-text span {
    background-color: #188ce8;
    border: none;
}

.modal-check:checked + .check-text span svg {
    fill: #FFFFFF;
}

.check-icon{
    fill: transparent;
}

.contract-url {
	color: #2196f3;
}

.close-btn{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}




